.service-page {
    background-color: #0A001F;
    min-height: 100vh;
}

.service-heading {
    filter: drop-shadow(0px 4px 5px rgba(255, 255, 255, 0.25));
    border-bottom: 2px solid #2C233E;
    border-top: 2px solid #2C233E;
    width: 90vw;
    margin: auto;
    padding-block: 20px;
    font-family: NexaHeavy;
}

.service-heading p {
    font-size: 14px;
    margin-bottom: 0px;
}

.service-heading h1 {
    margin-top: 0;
}

.service-panel {
    padding-top: 140px;
    padding-bottom: 30px;
}

.service-main-input-section {
    padding-inline: 5%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.input-heading {
    font-family: NexaHeavy;
    color: white;
}

.serivce-main-input__container {
    background-color: rgba(0, 0, 0, 0.1);
    height: 260px;
    border: 2px solid #2C233E;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
}
.serivce-main-input__container textarea {
    resize: none;
}
.serivce-main-input__container input,.serivce-main-input__container textarea {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: white;
    font-family: NexaRegular;
}
.serivce-main-input__container input:focus,.serivce-main-input__container textarea:focus {
    outline:none;
}
.serivce-main-input__container input::placeholder,.serivce-main-input__container textarea::placeholder {
    width: 70%;
    color:rgba(255,255,255,0.8);
    text-wrap: wrap;
}

.file-attach__container {
    position: relative;
}
.file-attach__container input {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    opacity: 0;
}
.file-attach__container input:hover {
    cursor: pointer;
}
.file-download__container,
.file-list__container,
.file-attach__container {
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid #2C233E;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: NexaHeavy;
    text-align: center;
}
.file-list {
    max-height: 199px;
}
.file-list__container {
    height: 139px;
    max-height: 139px;
    position: relative;
    overflow-y: auto;
}

.voice-sample-msg {
    position: absolute;
    top:50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    margin:0;
}
.file-record {
    display: flex;
    padding-inline:20px;
    cursor: pointer;
    align-items: center;
    transition-duration: 200ms;
    justify-content: space-between;
}
.file-record:hover {
    background-color: rgba(0,0,0,0.1);
}
.file-record img {
    height: 20px;
    width: auto;

}
.file-download__container {
    padding-block: 20px;
}

.file-download__container p {
    margin-bottom: 0;
}

.file-download__container img {
    height: 50px;
    width: auto;
    animation-name: loader;
    animation-duration: 3000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.process {
    margin-top:30px;
}
.process-btn {
    background-color: grey;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    font-family: NexaHeavy;
    width: 150px;
    border:none;
    color:white;
    height: 50px;
}
.option-select__options {
 max-height: 0px;
 overflow-y: hidden;
 transition-timing-function:ease;
 transition-duration: 300ms;
}
.visible-options-list {
    max-height: 200px;
    transition-timing-function:ease;
}
.options-select-section {
    margin-top:30px;
    border:2px solid #2C233E;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    padding:20px;
}
.options-select-section__rows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:30px;
    flex-wrap: wrap;
}
.options-row {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    gap: 50px;
    justify-content: space-between;
    padding-bottom: 20px;
}
.option-select {
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    border:2px solid #2C233E;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    min-width: 160px;
    height: fit-content;
}

.option-select__options__record,.option-select-heading {
    display: flex;
    height: 50px;
    padding-inline:20px;
    align-items: center;
}
.option-select-heading {
    font-family: NexaHeavy;
}
.option-select__options__record {
    font-family: NexaRegular;
    transition-duration: 100ms;
}
.option-select__options__record p,.option-select-heading p {
    margin:0;
    font-size: 0.7em;
}
.option-select {
    cursor: pointer;
}
.option-select__options__record:first-of-type {
    border-top:2px solid #2C233E;
}
.option-select__options__record:not(.option-select__options__record:last-of-type) {
    border-bottom: 2px solid #2C233E;
}
.option-select__options__record:hover {
    background-color: rgba(0,0,0,0.2);
}
.option-select-list-img {
    width:auto;
    height: 0.7em;
    transition-duration: 300ms;
}
.rotated-scroll-down {
    transform: rotate(180deg);
}
.option-select-heading {
    justify-content: space-between;
}
.service-checkbox__container {
    margin-top: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}
.service-checkbox {
    border:2px solid #2C233E;
    width: 30px;
    min-width: 30px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}
.service-checkbox img { 
    height: auto;
    vertical-align: middle;
    width: 20px;
}
.service-checkbox__container p {
    font-family: NexaRegular;
    font-size: 10px;
    width: 80%;
    text-align: right;
}

.file-record p {
    font-size: 0.8em;
}
.wrong-input {
    border:2px solid #5F0101;
}
.process-modal {
    position: fixed;
    top:50%;
    background-color: rgba(10, 0, 31,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    width: 100vw;
    min-height: 100vh;
    right:50%;
    color:white;
    transform: translate(50%,-50%);
}

.process-modal__container {
    background-color:#0A001F;
    backdrop-filter: blur(10px);
    border:2px solid #2C233E;
    border-radius: 10px;
    font-family: NexaHeavy;
    font-size: 1.2em;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
    padding:20px;
}

.cancel-process-btn {
    width: 150px;
    height: 50px;
    background-color: red;
    color:white;
    border:0px;
    border-radius: 5px;
    font-family: NexaHeavy;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}
.process-image {
    animation-name: processImage;
    animation-duration: 2s;
    height: 50px;
    width: auto;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
@keyframes processImage {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media screen and (min-width: 650px) {
    .options-row {
        overflow-x: auto;
    }
    .option-select__options__record p,.option-select-heading p  {
        font-size: 0.8em;
    }
    .service-checkbox__container p {
        font-size: 14px;
    }
    .file-record img {
        height:30px;
    }
    .file-record p {
        font-size: 1em;
    }
}
@media screen and (min-width:1024px) {
    .service-heading {
        padding-inline: 30px;
        display: flex;
        align-items: center;
        width: calc(100% - 60px);
        justify-content: space-between;
    }

    .service-heading p,
    .service-heading h1 {
        margin-block: 0;
    }

    .service-heading p {
        font-size: 1em;
        width: 40%;
        text-align: right;
    }

    .service-panel {
        padding-top: 0;
        padding-left: calc(clamp(200px, 20vw, 500px) + 40px);
    }
    .serivce-main-input {
        width: 35vw;
        max-width: 800px;
    }
    .file-input-section {
        display: flex;
        text-align: right;
        width: clamp(300px,30vw,400px);
        justify-content: space-between;
        flex-direction: column;
        height: 360px;
    }
    .service-main-input-section {
        padding-inline:30px;
        max-width: 1920px;
        margin:auto
    }
    .service-input-section {
        display: flex;

        flex-direction: row;
        justify-content: space-between;
    }
    .option-select {
        width: 200px;
    }
    .option-select__options__record p,.option-select-heading p  {
        font-size: 1em;
    }
    .service-checkbox__container {
        width: 35vw;
        max-width: 100%;
    }
    .process-modal__container {
        margin-left:calc(clamp(200px, 20vw, 500px) + 40px);
    }
}