.voice-select-section {
    margin-top: 30px;
}
.voice-select-section__voices {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.voice-box h5 {
    font-family: NexaHeavy;
}
.voice-box p {
    font-family: NexaRegular;
}
.voice-box {
    border:2px solid #2C233E;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.1);
    position: relative;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    padding-inline:20px;
    padding-bottom: 30px;
}

.voice-box-btn__container {
    display: flex;
    width: calc(100% - 40px);
    margin:auto;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
}
.voice-box-btn {
    background-color: black;
    border:0;
    border-radius: 5px;
    color:white;
    width: 80px;
    font-family: NexaRegular;
    height: 30px;
    box-shadow: -2px -1px 15px rgba(255,255,255,0.2);
}
.voice-box p {
    font-size: 0.8em;
}

.voice-slider__container-slider {
    width: 100%;
    border:2px solid #2C233E;
    border-radius: 20px;
    height: 30px;
    width: 100%;
    margin:0;
    background-color: rgba(0,0,0,0.1);
    appearance: none;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    -webkit-appearance: none;
}
.voice-slider__container-slider::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    height: 40px;
    width: 10px;
    border-radius: 5px;
    background-color: var(--blue);
}
.voice-slider__container-slider:focus::-webkit-slider-thumb {
    cursor: pointer;
}
.voice-slider__container-scale {
    display: flex;
    justify-content: space-between;
    font-family: NexaHeavy;
}
.voice-select-section__input__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
.voice-select-section__input__container .search-bar {
    width: 60%;
    height: 40px;
}
.voice-select-section__input__container input {
    width: calc(100% - 20px);
    margin:0;
    padding: 0;
    padding-block: 0;
    height: 100%;
    padding-inline:0;
    background-color: rgba(0,0,0,0.3);
    color:white;
    padding-inline:10px;
    font-family: NexaHeavy;
    border:2px solid #2C233E;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border-radius: 5px;
}
.voice-select-section__input__container input::placeholder {
    color:white;
    opacity: 1;
}
.voice-select-section__input__container input:focus {
    outline: 0;
}
@media screen and (min-width:650px) {
    .voice-box {
        width: 35vw;
    }
    .voice-select-section__voices {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
@media screen and (min-width:1024px) {
    .voice-box {
        width: calc(30% - 40px);
        max-width: 400px;
    }
}